*{
    padding: 0;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #708199;
    background: linear-gradient(180deg, rgba(112, 129, 153, 1) 0%, rgba(217, 215, 215, 1) 36%, rgba(243, 241, 233, 1) 100%);
}

main{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 5px;
    padding: 0px 20px;
}

/*nav*/
nav{
    margin-bottom: 7px;
    padding: 11px;
    display: flex;
    align-items: center;
    gap: 16px;
}
nav img{
    height: 40px;
}
nav h1{
    font-weight: 800;
    color: black;
}
/*main*/
#form{
    grid-column: 8 / 13;
    grid-row: 1 / 2;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}
form input{
    flex: 1;
}
input, button{
    border-radius: 8px;
    padding: 7px;
}
button{
    background-color: #708199;
    color: bisque;
}
#current-weather{
    grid-column: 1 / 8;
    grid-row: 2 / 7;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 10px;
}
#current-location{
    display: grid;
    grid-template-areas:
        'top top'
        'left right'
    ;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
#current-location .top{
    grid-area: top;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#current-location .top p:nth-child(1){
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}
#current-location .top p:nth-child(2){
    font-size: 12px;
    
}
#current-location p:nth-child(2){
    font-weight: 800;
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
#current-location .uni{
    font-weight: 400;
    font-size: 20px;
    vertical-align: top;
    
}
#current-location p:nth-child(3){
    grid-area: right;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 300;
    flex-direction: column;
}
/*images*/
#current-location img{
    height: 120px;
    width: 120px;
}
#hourly-forecast img{
    height: 40px;
}
#daily-forecast img{
    height: 40px;
}
/*other data*/
#other-data{
    grid-column: 9 / 13;
    grid-row: 2 / 6;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}
#other-data p{
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
}
/*hourly forecast*/
#hourly-forecast{
    grid-column: 1 / 8;
    grid-row: 8 / 9;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#hourly-forecast > div{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    text-align: center;
    position: relative;
}
#hourly-forecast > div:not(:last-child)::after{
   content: '';
   position: absolute;
   top: 25%;
   height: 50%;
   right: 0;
   width: 2px;
   background-color: #708199;
}
#hourly-forecast >div p:nth-of-type(1), #hourly-forecast >div p:nth-of-type(2){
    display: flex;
    margin-right: 8px;
}
#hourly-forecast >div p:nth-of-type(3){
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*% day forecast*/
#five-day-forecast{
    grid-column: 1 / 12;
    grid-row: 10 / 12;
}
#five-day-forecast h2{
    font-weight: 700;
    margin-bottom: 10px;
}
#daily-forecast{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}
#daily-forecast > div{
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#daily-forecast > div > p{
    padding-bottom: 5px;
}
#daily-forecast > div p:nth-of-type(3){
        text-transform: capitalize;
}
/*footer*/
footer{
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
}

/*media queeries*/
@media screen and (max-width: 430px){
    main{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
    #form{
        order: 1;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
    #form input{
        flex: none;
    }
    #current-weather, #other-data, #hourly-forecast, #five-day-forecast{
        order: 2;
        width: auto;
    }
    #current-location{
        display: flex;
        flex-direction: column;
    }
    
    #hourly-forecast{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    #hourly-forecast >div{
        padding: 4px;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        font-size: 18px;
    }
    #hourly-forecast >div:not(:last-child)::after{
        content: none;
    }

    #daily-forecast{
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        max-width: 100%;
    }
    #daily-forecast > div{
        width: auto;
        text-align: center;
        padding: 12px;
    }
    #daily-forecast > div p:nth-of-type(3){
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #five-day-forecast{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
}